server:
  port: 9296

spring:
  application:
    name: CONFIG-SERVER
  cloud:
    config:
      server:
        git:
          uri: file://C:\Users\Admin\Documents\GitHub\ConfigServer
          clone-on-start: true